This code downloads the NYC MTA station locations as well as imports the college and university dataset.  The two datasets are

Import sqlalchemy and pandas.

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import inspect
import math
import pandas as pd

Download the station dataset.

In [3]:
stn_loc = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv') #get data
stn_loc.to_csv('stn_loc.csv')

In [4]:
stn_loc.dtypes

Division               object
Line                   object
Station_Name           object
Station_Latitude      float64
Station_Longitude     float64
Route_1                object
Route_2                object
Route_3                object
Route_4                object
Route_5                object
Route_6                object
Route_7                object
Route_8               float64
Route_9               float64
Route_10              float64
Route_11              float64
Entrance_Type          object
Entry                  object
Exit_Only              object
Vending                object
Staffing               object
Staff_Hours            object
ADA                      bool
ADA_Notes              object
Free_Crossover           bool
North_South_Street     object
East_West_Street       object
Corner                 object
Latitude              float64
Longitude             float64
dtype: object

In [5]:
stn_loc

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,Staffing,Staff_Hours,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.775149,-73.912074
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.774810,-73.912151
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.775025,-73.911891
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.774938,-73.912337
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,Hoyt Ave South,SW,40.770313,-73.917978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,IRT,Lexington,Canal St,40.718803,-74.000193,J,N,Q,R,Z,...,NONE,NaN,True,Bway Nass not ADA,True,Lafayette St,Canal St,SW,40.718506,-74.000826
1862,IRT,Lexington,Canal St,40.718803,-74.000193,J,N,Q,R,Z,...,NONE,NaN,True,Bway Nass not ADA,True,Lafayette St,Canal St,NW,40.718638,-74.000623
1863,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,SW,40.710944,-74.009403
1864,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,NW,40.711026,-74.009190
1865,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,NW,40.711112,-74.009382

Load university location data.

In [6]:
unv_loc = pd.read_csv('COLLEGE_UNIVERSITY.csv') #get data
unv_loc.dtypes

the_geom       object
 LAT          float64
 LON          float64
NAME           object
Technology     object
HOUSENUM       object
STREETNAME     object
CITY           object
ZIP             int64
URL            object
 BIN           object
 BBL           object
dtype: object

In [7]:
unv_loc

,the_geom,LAT,LON,NAME,Technology,HOUSENUM,STREETNAME,CITY,ZIP,URL,BIN,BBL
0,POINT (-73.9449435524464 40.65507267868331),40.655073,-73.944944,Health Science Center At Brooklyn (Suny),NaN,450,CLARKSON AVENUE,Brooklyn,11203,http://www.hscbklyn.edu,"3,336,186","3,048,380,001"
1,POINT (-73.9641713381281 40.69179151661372),40.691792,-73.964171,Pratt Institute,Yes,200,WILLOUGHBY AVENUE,Brooklyn,11205,http://www.pratt.edu/,"3,334,961","3,019,200,001"
2,POINT (-73.9921109815578 40.69306855757583),40.693069,-73.992111,St. Francis College,Yes,180,REMSEN STREET,Brooklyn,11201,http://www.stfranciscollege.edu/,"3,335,934","3,002,550,036"
3,POINT (-73.9810549374029 40.73686062472525),40.736861,-73.981055,Phillips Beth Israel School Of Nursing,NaN,310,EAST 22 STREET,New York,10010,http://wehealny.org/bischoolofnursing/index.html,"1,020,567","1,009,270,055"
4,POINT (-73.93512379108051 40.7439956895944),40.743996,-73.935124,Fiorello H Laguardia Comm College (Cuny),NaN,31-10,THOMSON AVENUE,Long Island City,11101,http://www.lagcc.cuny.edu,"4,003,534","4,002,780,001"
...,...,...,...,...,...,...,...,...,...,...,...,...
72,POINT (-73.9553818130165 40.76523174250826),40.765232,-73.955382,Cornell University / Weill Graduate School Of ...,Yes,445,EAST 69 STREET,New York,10021,http://www.med.cornell.edu/gradschool/,"1,045,585","1,014,640,021"
73,POINT (-73.9666683641188 40.80557808768119),40.805578,-73.966668,Bank Street College Of Education / Graduate Sc...,NaN,610,WEST 112 STREET,New York,10025,http://www.bankstreet.edu/,"1,057,331","1,018,940,056"
74,POINT (-73.9616669913283 40.806815074075836),40.806815,-73.961667,Columbia University,Lead,1130,AMSTERDAM AVENUE,New York,10027,http://www.columbia.edu/,"1,084,846","1,018,860,001"
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,"2,102,025","2,032,730,001"
76,POINT (-73.827002596629 40.88021177487783),40.880212,-73.827003,"College Of New Rochelle, The / School Of New R...",NaN,755,CO-OP CITY BOULEVARD,Bronx,10475,http://www.cnr.edu/,"2,072,365","2,051,410,390"

For every university, find the closest subway entrance and link the associated subway information.

In [8]:
unv_loc['STATION']='' #12
unv_loc['DISTANCE']=100 #13

for uindex, row in unv_loc.iterrows():
    
    for sindex, row in stn_loc.iterrows():
        
        x2=unv_loc.iloc[uindex,1]
        x1=stn_loc.iloc[sindex,3]
        y2=unv_loc.iloc[uindex,2]
        y1=stn_loc.iloc[sindex,4]
        
        distance = math.sqrt( (x2 - x1)**2 + (y2 - y1)**2 )
        
        if distance < unv_loc.iloc[uindex,13]:
            unv_loc.iloc[uindex,13]=distance
            unv_loc.iloc[uindex,12]=stn_loc.iloc[sindex,2]

In [9]:
unv_loc

,the_geom,LAT,LON,NAME,Technology,HOUSENUM,STREETNAME,CITY,ZIP,URL,BIN,BBL,STATION,DISTANCE
0,POINT (-73.9449435524464 40.65507267868331),40.655073,-73.944944,Health Science Center At Brooklyn (Suny),NaN,450,CLARKSON AVENUE,Brooklyn,11203,http://www.hscbklyn.edu,"3,336,186","3,048,380,001",Winthrop St,0.005489
1,POINT (-73.9641713381281 40.69179151661372),40.691792,-73.964171,Pratt Institute,Yes,200,WILLOUGHBY AVENUE,Brooklyn,11205,http://www.pratt.edu/,"3,334,961","3,019,200,001",Clinton-Washington Avs,0.004563
2,POINT (-73.9921109815578 40.69306855757583),40.693069,-73.992111,St. Francis College,Yes,180,REMSEN STREET,Brooklyn,11201,http://www.stfranciscollege.edu/,"3,335,934","3,002,550,036",Court St,0.001084
3,POINT (-73.9810549374029 40.73686062472525),40.736861,-73.981055,Phillips Beth Israel School Of Nursing,NaN,310,EAST 22 STREET,New York,10010,http://wehealny.org/bischoolofnursing/index.html,"1,020,567","1,009,270,055",1st Av,0.005935
4,POINT (-73.93512379108051 40.7439956895944),40.743996,-73.935124,Fiorello H Laguardia Comm College (Cuny),NaN,31-10,THOMSON AVENUE,Long Island City,11101,http://www.lagcc.cuny.edu,"4,003,534","4,002,780,001",Rawson St-33rd St,0.004169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,POINT (-73.9553818130165 40.76523174250826),40.765232,-73.955382,Cornell University / Weill Graduate School Of ...,Yes,445,EAST 69 STREET,New York,10021,http://www.med.cornell.edu/gradschool/,"1,045,585","1,014,640,021",Roosevelt Island,0.006446
73,POINT (-73.9666683641188 40.80557808768119),40.805578,-73.966668,Bank Street College Of Education / Graduate Sc...,NaN,610,WEST 112 STREET,New York,10025,http://www.bankstreet.edu/,"1,057,331","1,018,940,056",Cathedral Parkway-110th St,0.001621
74,POINT (-73.9616669913283 40.806815074075836),40.806815,-73.961667,Columbia University,Lead,1130,AMSTERDAM AVENUE,New York,10027,http://www.columbia.edu/,"1,084,846","1,018,860,001",116th St-Columbia University,0.002606
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,"2,102,025","2,032,730,001",Kingsbridge Rd,0.008376
76,POINT (-73.827002596629 40.88021177487783),40.880212,-73.827003,"College Of New Rochelle, The / School Of New R...",NaN,755,CO-OP CITY BOULEVARD,Bronx,10475,http://www.cnr.edu/,"2,072,365","2,051,410,390",Eastchester-Dyre Av,0.008950

In [10]:
university_location = unv_loc.join(stn_loc.set_index('Station_Name'), on='STATION')
university_location

,the_geom,LAT,LON,NAME,Technology,HOUSENUM,STREETNAME,CITY,ZIP,URL,...,Staffing,Staff_Hours,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude
0,POINT (-73.9449435524464 40.65507267868331),40.655073,-73.944944,Health Science Center At Brooklyn (Suny),NaN,450,CLARKSON AVENUE,Brooklyn,11203,http://www.hscbklyn.edu,...,FULL,NaN,False,NaN,False,Nostrand Ave,Winthrop St,NE,40.657184,-73.949976
0,POINT (-73.9449435524464 40.65507267868331),40.655073,-73.944944,Health Science Center At Brooklyn (Suny),NaN,450,CLARKSON AVENUE,Brooklyn,11203,http://www.hscbklyn.edu,...,NONE,NaN,False,NaN,False,Nostrand Ave,Parkside Ave,SW,40.656171,-73.950346
1,POINT (-73.9641713381281 40.69179151661372),40.691792,-73.964171,Pratt Institute,Yes,200,WILLOUGHBY AVENUE,Brooklyn,11205,http://www.pratt.edu/,...,FULL,NaN,False,NaN,True,Clinton Ave,Lafayette Ave,NE,40.688114,-73.967575
1,POINT (-73.9641713381281 40.69179151661372),40.691792,-73.964171,Pratt Institute,Yes,200,WILLOUGHBY AVENUE,Brooklyn,11205,http://www.pratt.edu/,...,FULL,NaN,False,NaN,True,Clinton Ave,Lafayette Ave,NE,40.688114,-73.967575
1,POINT (-73.9641713381281 40.69179151661372),40.691792,-73.964171,Pratt Institute,Yes,200,WILLOUGHBY AVENUE,Brooklyn,11205,http://www.pratt.edu/,...,FULL,NaN,False,NaN,True,Clinton Ave,Lafayette Ave,SW,40.687875,-73.967931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,...,FULL,NaN,False,NaN,True,Jerome Ave,Kingsbridge Rd,NE,40.867766,-73.897039
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,...,NONE,NaN,False,in planning,True,Grand Concourse,Kingsbridge Rd,NE,40.866181,-73.894306
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,...,NONE,NaN,False,in planning,True,Grand Concourse,Kingsbridge Rd,NW,40.866369,-73.894521
75,POINT (-73.887390126939 40.86125886238194),40.861259,-73.887390,Fordham University,Lead,441,EAST FORDHAM ROAD,Bronx,10458,http://www.fordham.edu/,...,NONE,NaN,False,in planning,True,Grand Concourse,Kingsbridge Rd,NE,40.866127,-73.893982
76,POINT (-73.827002596629 40.88021177487783),40.880212,-73.827003,"College Of New Rochelle, The / School Of New R...",NaN,755,CO-OP CITY BOULEVARD,Bronx,10475,http://www.cnr.edu/,...,PART,NaN,False,NaN,True,Dyre Ave,Light St,NE,40.887980,-73.831195

Output the information to csv to,

1. Map MTA station names to university station names using Excel lookup
2. Import the dataset to the next analysis step.

In [11]:
university_location.sort_values(['STATION'])
university_location.to_csv('university_location.csv',index=False)