This code snippet fulfills the requirement to query into the database into Python via SQLAlchemy:

* SQLAlchemy 4: You must correctly use at least four of the following commands: GROUP BY, JOIN, WHERE, HAVING, LIKE, CASE ... END, PARTITION BY, RANK ... OVER, CREATE TABLE, AND / OR / NOT, INSERT, UNION, ROW_NUMBER
* SQLAlchemy Subquery: Subquery
* SQLAlchemy CTE: Common table expresssion

The code implements SQLAlchemy queries for the queries done in pandas in the main project threads.  The full data base is also queried for reference.

Import sqlalchemy and pandas.

In [2]:
import pandas as pd
import numpy as np

Import mta_raw_2018.db into Python. Note two tables, one for mta_data and one for university_location_mta.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine("sqlite:///mta_df.db")
insp = inspect(engine)
print(insp.get_table_names())

[]

SQLAlchemy: mta_data sample

In [3]:
mta_df= pd.read_sql('SELECT CA, UNIT, SCP, STATION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME FROM mta_data;', engine)
mta_df

OperationalError: (sqlite3.OperationalError) no such table: mta_data
[SQL: SELECT CA, UNIT, SCP, STATION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME FROM mta_data;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
mta_df.dtypes

SQLAlchemy: university_locations_mta sample

In [ ]:
unv_loc= pd.read_sql('SELECT the_geom,LAT,LON,NAME,Technology,HOUSENUM,STREETNAME,CITY,ZIP,URL,BIN,BBL,STATION,MTA_STATION,DISTANCE,Division,Line,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,Route_6,Route_7,Route_8,Route_9,Route_10,Route_11,Entrance_Type,Entry,Exit_Only,Vending,Staffing,Staff_Hours,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude FROM university_location_mta;', engine)
unv_loc.describe()

In [ ]:
unv_loc.dtypes

SQLAlchemy 4 Commands: SELECT FROM LEFT JOIN ON AND GROUP BY WHERE

In [ ]:
mta_unv = pd.read_sql('SELECT mta_data.STATION, mta_data.DIVISION, mta_data.LINENAME, university_location_mta.NAME FROM mta_data LEFT JOIN university_location_mta ON mta_data.STATION = university_location_mta.MTA_STATION AND mta_data.DIVISION = university_location_mta.DIVISION WHERE university_location_mta.NAME IS NOT NULL GROUP BY mta_data.STATION;', engine)
mta_unv

SQLAlchemy Subquery: Count the mta_data.Station rows based on the university stations.

In [ ]:
stn_unv = pd.read_sql('SELECT COUNT(mta_data.STATION) FROM mta_data WHERE mta_data.STATION = (SELECT university_location_mta.MTA_STATION FROM university_location_mta);',engine)
stn_unv

SQLAlchemy CTE: Count MTA Stations from the temporary University_Table.

In [ ]:
stn_unv = pd.read_sql('WITH UNIVERSITY_TABLE AS (SELECT NAME, MTA_STATION FROM university_location_mta) SELECT COUNT(MTA_STATION) FROM UNIVERSITY_TABLE;',engine)
stn_unv